body {
  background-color:  #ffb39c;
}

h1 {
  font-size: 40px;
  color: rgb(255, 238, 0);
  font-family: 'Crimson Text', serif;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

h2 {
  font-family: 'Crimson Text', serif;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;

  }

 p {
  font-family: 'Crimson Text', serif;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

#img-one {
  width: 250px;
}

#img-two {
  width: 250px;
  height:250px;

}

#img-three{
width: 250px; 
} 

#img-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 20px;
  box-shadow: #c50e88 4px 4px 0 0;
  color: #b81135;
  font-size: 15px;
  padding: 5px;
  line-height: 50px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}


li {
  background-color: rgb(255, 255, 255);
  width: 200px;
  border: 2px solid;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
 }


 main section {
  background-color: rgb(222, 197, 197);
  border: 2px solid ;
  border-color: #b81135;
  display: flex;
  justify-content: center;
}

 








