body {
  background-color:  #d2cce7;
}

h1 {
  font-size: 40px;
  color: rgb(16, 15, 3);
  font-family: 'Ubuntu', sans-serif;  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  padding-top: 50px;
}

h2 {
  font-family: 'Ubuntu', sans-serif;  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;

  }

 p {
  font-family: 'Ubuntu', sans-serif;  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

#img-one {
  height:400px;
}

#img-two {
  height:400px;

}

#img-three{
  height:400px; 
} 

#img-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 4px double;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button {
  background-color: #6944ec;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}


li {
  background-color: rgb(255, 255, 255);
  width: 200px;
  border: 2px solid;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
 }


 main section {
  background-color: rgb(222, 197, 197);
  border: 2px solid ;
  border-color: #111010;
  display: flex;
  justify-content: center;
}

 








